*,::after,::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Segoe UI' !important; 
}
body{
    background-color:powderblue !important;
}
h2{
    text-align: center;
    padding:20px;
    padding-bottom: 5px;
    color:midnightblue !important;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: auto;
}
.form-label{
    font-weight: 500;
    color:darkblue;
}
.mb-3{
    width:25rem !important; 
    margin:1rem !important;
}
.btn{
    background-color: darkblue !important;
}
.form-check-label{
    padding-right:20px;
}
@media (max-width: 1020px) {
    .main-container{
        width:30em;
    }
}
